<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>websocket.html</title>
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html" charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
</head>
<body>
<div>
    姓名：<p id="response"></p>
</div>

<!-- 独立JS -->
<script src="/static/lib/jquery.min.js"></script>
<script src="/static/lib/webSocket.js"></script>
<script src="/static/lib/sockjs.min.js"></script>
<script src="/static/lib/stomp.js"></script>
</body>
</html>
